<!DOCTYPE html> <!-- This declaration specifies the document type and version of HTML being used.-->
<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Link to the main CSS file -->
  <link rel="stylesheet" href="styles/main.css" />

  <!-- Title of the webpage -->
  <title>Permalist</title>
</head>

<body>
<main>
